*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.myWatch{
    display: flex;
    text-align: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    padding: 0.1rem;
}

.dot{
    margin-top: -0.4rem;
}